<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--设置的一个基准，不然在请求article时会有错-->
    <base href="/">
</head>
<body>
    {{{body}}}
</body>
</html>
<!--main.hbs是主模板，其他页面通过express-handlebars渲染，用{{body}}嵌入到main.hbs模板形成完整的页面。-->